@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}
