@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-ivory: #F8F8F8;
  --color-charcoal: #31333B;
  --color-yellow: #f2cf1d;
  --color-green: #17a68c;
  --color-beige: #d9ca82;
  --color-box-dark: #1e293b;
  --color-box-light: #f1f5f9;
  --color-lightgrey: #B1BDCC;
  --color-darkgrey: #454E56;

  /* Sizes */
  --navbar-height: 6rem;
  --page-max-width: 1200px;
}

html {
  --color-background: var(--color-ivory);
  --color-text: var(--color-charcoal);
  --color-primary: var(--color-green);
  --color-secondary: var(--color-yellow);
  --color-accent: var(--color-beige);
  --color-box: var(--color-box-light);
  --color-grey-primary: var(--color-darkgrey);
  --color-grey-secondary: var(--color-lightgrey);
}

html.dark {
  --color-background: var(--color-charcoal);
  --color-text: var(--color-ivory);
  --color-primary: var(--color-yellow);
  --color-secondary: var(--color-green);
  --color-accent: var(--color-beige);
  --color-box: var(--color-box-dark);
  --color-grey-primary: var(--color-lightgrey);
  --color-grey-secondary: var(--color-darkgrey);
}
