@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-ivory: #f2f2f2;
  --color-charcoal: #0d0d0d;
  --color-yellow: #f2cf1d;
  --color-green: #17a68c;
  --color-beige: #d9ca82;
  --color-box-dark: #1e293b;
  --color-box-light: #f1f5f9;

  /* Sizes */
  --navbar-height: 6rem;
  --page-max-width: 1200px;
}

html {
  --color-background: var(--color-ivory);
  --color-text: var(--color-charcoal);
  --color-primary: var(--color-yellow);
  --color-secondary: var(--color-green);
  --color-accent: var(--color-beige);
  --color-box: var(--color-box-light);
}

html.dark {
  --color-background: var(--color-charcoal);
  --color-text: var(--color-ivory);
  --color-primary: var(--color-yellow);
  --color-secondary: var(--color-green);
  --color-accent: var(--color-beige);
  --color-box: var(--color-box-dark);
}
